# image will be published to ghcr.io/<user>/<name>
name: ucore-zfs-rpm-podman-light
# description will be included in the image's metadata
description: Ucore minimal with zfs

# the base image to build on top of (FROM) and the version tag to use
base-image: ghcr.io/ublue-os/ucore
image-version: stable-zfs # latest is also supported if you want new updates ASAP

# list of modules, executed in order
# you can include multiple instances of the same module
modules:

  - type: files
    files:
      - usr: /usr # copy static configurations
                  # configuration you wish to end up in /etc/ on the booted system should be 
                  # added into /usr/etc/ as that is the proper "distro" config directory on ostree
                  # read more in the files module's README
  - type: rpm-ostree
    remove:
    - moby-engine
    - toolbox
    - distrobox
    - lzop
    - mbuffer
    - perl-Capture-Tiny
    - perl-Config-IniFiles
    - podman-compose
    - pv
    - qemu-guest-agent
    - tailscale
    - tmux
    - vim-enhanced
    - wireguard-tools
    - xdg-dbus-proxy
    - xdg-user-dirs

  - type: script
    scripts:
      # this sets up the proper policy & signing files for signed images to work
      - signing.sh
      - ucore-systemd.sh

  - type: systemd
    system:
      enabled:
        - rpm-ostreed-upgrade-reboot.timer
      disabled:
        - rpm-ostreed-automatic.timer

#  - from-file: ucore-light-packages.yml
#  - from-file: ucore-light-script.yml
#  - from-file: ucore-light-systemd.yml


