[Unit]
Description=rpm-ostree upgrade and reboot trigger on every first monday of the month
ConditionPathExists=/run/ostree-booted

[Timer]
OnCalendar=Mon *-*-1..7 03:00:00
Persistent=true

[Install]
WantedBy=timers.target